@using TestingModuleWebApp.ViewModels

@model IEnumerable<GetByGroupPhysicTaskVM>

@{
    ViewData["Title"] = $"Результаты группы {ViewData["Group"]}";
}

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Имя Фамилия</th>
            <th scope="col">Попыток</th>
            <th scope="col">Лучший%</th>
        </tr>
    </thead>
    @foreach (var result in Model)
    {
        <tr>
            <td>@result.Name @result.LastName</td>
            <td>@result.Count</td>
            <td>@result.BestAttempt%</td>
        </tr>
    }
</table>