@model IEnumerable<Test>

@{
    ViewData["Title"] = "Тесты";

    <link rel="stylesheet" href="~/css/block.css"/>
}

<div class="block">
    <div>
        <div class="wrapper">
            @foreach(var test in Model)
            {
                <section class="models">
                    <h4>
                        <a class="nav-link" asp-controller="Test" asp-action="Browse" asp-route-id=@test.Id>@test.Description</a>
                    </h4>
                </section>
            }
        </div>
    </div>
</div>