

@{
    ViewData["Title"] = "Тесты";
}

<div class="swagger-ui">
    <div>
        <div class="wrapper">
            @*<section class="block colcol-12 block-desltop col-12-desktop">*@
                <section class="models" onclick="">
                    <h4>
                        <a class="nav-link" asp-area="" asp-controller="Test" asp-action="PhysicTask" asp-route-id="">Сквозная задача по физике</a>
                    </h4>
                </section> 
            @*</section>*@
        </div>
    </div>
</div>

@*<script>
    window.onload = function () {
        var s = true;
        if (s){
            alert("true");
        }
        
        alert("//");
    }
</script>*@
