
@model IEnumerable<Group>

@{
    ViewData["Title"] = "Домашняя";
	<link rel="stylesheet" href="~/css/site.css"/>
}

<div class="text-center">
    <h1 class="display-4">Модуль тестирования</h1>
</div>

@*<div class="col">                        
                        <select  asp-items="@ViewBag.Groups" class="form-control form-control-lg">
                                <option>--Select--</option>
                        </select>
                        <span class="text-danger"></span>
                      </div>*@