
@model IEnumerable<Group>

@{
    ViewData["Title"] = "Домашняя";
	<link rel="stylesheet" href="~/css/site.css"/>
}

<div class="text-center">
    <h1 class="display-4">Модуль тестирования</h1>
</div>

<a class="btn btn-outline-secondary" asp-controller="Test" asp-action="PhysicTask">Пройти</a>

@*<div class="col">
    <select asp-items="@ViewBag.Groups" class="form-control form-control-lg">
        <option>--Выберите--</option>
    </select>
    <span class="text-danger"></span>
</div>*@