html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.blocks {
    overflow: visible;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    padding: 2rem 2rem calc(2rem + 70px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}