@using TestingModuleWebApp.Data.Enum
@model User
@{
}

<form method="post" asp-action="Create">
  <div class="form-group">
    <label asp-for="Username">Юзернейм</label>
    <input asp-for="Username" class="form-control" placeholder="Введите юзернейм">
    <span asp-validation-for="Username" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Password">Пароль</label>
    <input asp-for="Password" class="form-control" placeholder="Введите пароль">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Email">Email</label>
    <input asp-for="Email" class="form-control" placeholder="Введите email">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="GroupId">Группа</label>
    <select asp-for="GroupId" asp-items="@Html.GetEnumSelectList<Groups>()" class="form-control">
        <option>--Выберите--</option>
    </select>
    <span asp-validation-for="GroupId" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="IsAdmin">Администратор?</label>
    <input type="checkbox" asp-for="IsAdmin"  />
    <span asp-validation-for="IsAdmin" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@*<form>
    <div>
      <label for="uname">Choose a username: </label>
      <input type="text" id="uname" name="name"
             pattern="[a-z]{4,8}" title="4 to 8 lowercase letters">
      <span class="validity"></span>
      <p>Usernames must be lowercase and 4-8 characters in length.</p>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>*@