@model IEnumerable<Group>

@{
    ViewData["Title"] = "Архив групп";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach(var group in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">Группа: @group.Title</p>
                            <small class="text-muted">ID Группы: @group.Id</small>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Group" asp-action="Archiving" asp-route-id="@group.Id" asp-route-act="0" 
                                    type="button" class="btn btn-sm btn-outline-secondary">Вернуть из архива</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>